[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
ipykernel = "*"
pygments-json = "*"
tqdm = "*"
pandas = "*"
lxml = "*"
jsonschema = "*"

[packages]
requests = "*"
faker = "*"
faker-schema = "*"
fastjsonschema = "*"
jsonref = "*"
click = "*"
catalogue = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
